# ===================================================================
# DEPENDÊNCIAS DO PROJETO (VERSÕES FIXAS)
# ===================================================================

# Essencial para garantir a compatibilidade do ambiente local e Docker
apache-airflow==2.9.2

# Repositório otimizado para PyTorch (apenas CPU)
--extra-index-url https://download.pytorch.org/whl/cpu

# Core de Análise de Dados e ML
pandas==2.1.0
numpy==1.26.0
scikit-learn==1.4.0
statsmodels==0.14.1
tqdm==4.66.0

# Bibliotecas de Séries Temporais (Time Series)
torch==2.2.0
darts[torch]==0.28.0
pmdarima==2.0.4

# Bibliotecas de Análise Estatística de Resultados
autorank==1.1.0
scikit-posthocs==0.8.0
dieboldmariano==1.1.0

# Bibliotecas de Visualização
matplotlib==3.8.0
seaborn==0.13.0